<%- include("./partials/header") %>
<h1 align="center" class="color"> Login!</h1>
<form action="/login" method="POST">
	<table align="center">
	<tr>
		<td><input  class="margin" type="text" name="username" placeholder="username"></td>
	</tr>
	<tr>
		<td><input class="margin" type="password" name="password" placeholder="password"></td>
	</tr>
	<tr>
		<td><input class="btn btn-primary margin" type="submit" value="Login"></td>
	</tr>
	</table>
</form>
<%- include("./partials/footer") %>